python/practice_python/__pycache__/math_sample.cpython-37.pyc
python/practice_python/__pycache__/exer1.cpython-37.pyc
python/practice_python/__pycache__/exer2.pyc
/c#/TestTool/.vs/TestTool/v15
/c#/TestTool/TestCaseGenerator/bin/x64/Debug
/c#/TestTool/TestCaseGenerator/obj/x64/Debug
c#/CSharpLearn/CSharpLearn/obj/Debug/CSharpLearn.csproj.CoreCompileInputs.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/MainWindow.g.cs
c#/CSharpLearn/CSharpLearn/obj/Debug/CSharpLearn.csprojAssemblyReference.cache
c#/CSharpLearn/CSharpLearn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/CSharpLearn/CSharpLearn/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
c#/CSharpLearn/CSharpLearn/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
c#/CSharpLearn/CSharpLearn/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/GeneratedInternalTypeHelper.g.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.exe
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.pdb
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.Properties.Resources.resources
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.csproj.CoreCompileInputs.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.csproj.FileListAbsolute.txt
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.csproj.GenerateResource.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.csprojAssemblyReference.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo.g.resources
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo_MarkupCompile.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo_MarkupCompile.lref
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo_MarkupCompile.i.cache
c#/MVVMDemo/MVVMDemo/obj/Debug/MVVMDemo_MarkupCompile.i.lref
c#/MVVMDemo/MVVMDemo/obj/Debug/MainWindow.baml
c#/MVVMDemo/MVVMDemo/obj/Debug/MainWindow.g.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/MainWindow.g.i.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/Views/StudentView.baml
c#/MVVMDemo/MVVMDemo/obj/Debug/Views/StudentView.g.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/Views/StudentView.g.i.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/App.g.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/App.g.i.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/GeneratedInternalTypeHelper.g.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/MVVMHierarchiesDemo.csproj.CoreCompileInputs.cache
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/MVVMHierarchiesDemo.csprojAssemblyReference.cache
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/MVVMHierarchiesDemo_MarkupCompile.i.cache
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/MainWindow.g.i.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/Views/CustomerListView.g.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/Views/CustomerListView.g.i.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/Views/OrderView.g.cs
c#/MVVMDemo/MVVMHierarchiesDemo/obj/Debug/Views/OrderView.g.i.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/App.g.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/App.g.i.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/MVVMDemo/WPFDataBinding/obj/Debug/MainWindow.baml
c#/MVVMDemo/WPFDataBinding/obj/Debug/MainWindow.g.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/MainWindow.g.i.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.exe
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.pdb
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.Properties.Resources.resources
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.csproj.CoreCompileInputs.cache
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.csproj.FileListAbsolute.txt
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.csproj.GenerateResource.cache
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.csprojAssemblyReference.cache
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding.g.resources
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding_MarkupCompile.cache
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding_MarkupCompile.lref
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding_MarkupCompile.i.cache
c#/MVVMDemo/WPFDataBinding/obj/Debug/WPFDataBinding_MarkupCompile.i.lref
c#/MVVMDemo/WPFResouces/bin/Debug/WPFResouces.exe
c#/MVVMDemo/WPFResouces/bin/Debug/WPFResouces.pdb
c#/MVVMDemo/WPFResouces/bin/Debug/WPFResouces.exe.config
c#/MVVMDemo/WPFResouces/obj/Debug/App.g.cs
c#/MVVMDemo/WPFResouces/obj/Debug/App.g.i.cs
c#/MVVMDemo/WPFResouces/obj/Debug/DesignTimeResolveAssemblyReferences.cache
c#/MVVMDemo/WPFResouces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/MVVMDemo/WPFResouces/obj/Debug/MainWindow.baml
c#/MVVMDemo/WPFResouces/obj/Debug/MainWindow.g.cs
c#/MVVMDemo/WPFResouces/obj/Debug/MainWindow.g.i.cs
c#/MVVMDemo/WPFResouces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
c#/MVVMDemo/WPFResouces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
c#/MVVMDemo/WPFResouces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.exe
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.pdb
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.Properties.Resources.resources
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.csproj.CoreCompileInputs.cache
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.csproj.FileListAbsolute.txt
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.csproj.GenerateResource.cache
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.csprojAssemblyReference.cache
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces.g.resources
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces_MarkupCompile.cache
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces_MarkupCompile.lref
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces_MarkupCompile.i.cache
c#/MVVMDemo/WPFResouces/obj/Debug/WPFResouces_MarkupCompile.i.lref
c#/MVVMDemo/WPFTutorial/bin/Debug/WPFTutorial.exe
c#/MVVMDemo/WPFTutorial/bin/Debug/WPFTutorial.pdb
c#/MVVMDemo/WPFTutorial/bin/Debug/WPFTutorial.exe.config
c#/MVVMDemo/WPFTutorial/obj/Debug/App.g.cs
c#/MVVMDemo/WPFTutorial/obj/Debug/App.g.i.cs
c#/MVVMDemo/WPFTutorial/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/MainWindow.baml
c#/MVVMDemo/WPFTutorial/obj/Debug/MainWindow.g.i.cs
c#/MVVMDemo/WPFTutorial/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
c#/MVVMDemo/WPFTutorial/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
c#/MVVMDemo/WPFTutorial/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.exe
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.pdb
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.Properties.Resources.resources
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.csproj.CoreCompileInputs.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.csproj.FileListAbsolute.txt
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.csproj.GenerateResource.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.csprojAssemblyReference.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial.g.resources
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial_MarkupCompile.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial_MarkupCompile.lref
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial_MarkupCompile.i.cache
c#/MVVMDemo/WPFTutorial/obj/Debug/WPFTutorial_MarkupCompile.i.lref
c#/MVVMDemo/MVVMDemo/bin/Debug/MVVMDemo.pdb
c#/MVVMDemo/MVVMDemo/bin/Debug/MVVMDemo.exe
c#/MVVMDemo/MVVMDemo/bin/Debug/MVVMDemo.exe.config
c#/MVVMDemo/MVVMDemo/obj/Debug/App.g.cs
c#/MVVMDemo/MVVMDemo/obj/Debug/App.g.i.cs
python/app_python/sneak_preview/__pycache__/person.cpython-37.pyc
