<div mat-dialog-content>
    <mat-checkbox [checked]="reduceSelected" (change)="switchStatus($event, 'R')" >[R] Reducing Tee / Cross</mat-checkbox>
    <mat-checkbox [checked]="oletSelected" (change)="switchStatus($event, 'O')">[O] O-let</mat-checkbox>
    <mat-checkbox [checked]="couplingSelected" (change)="switchStatus($event, 'C')">[C] Half Coupling</mat-checkbox>
    <mat-checkbox [checked]="stubSelected" (change)="switchStatus($event, 'S')">[S] Stub in / OTAP</mat-checkbox>
</div>
<button mat-button [mat-dialog-close]="data.cell_content" cdkFocusInitial>Ok</button>


